<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jugo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="container">
    <div class="col m10 offset-m1">
      <div class="row">
        <div class="col s12">
          <h1 class="jugo">jugo</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>
            Jugo is a javascript library for monitoring a twitter-sphere. Influenced by the Nieman Journalism Lab's Open Fuego, jugo provides an API to simplify real-time monitoring of selected twitter accounts, as well as calculation of aggregate statistics on collected posts. The source code for Jugo can be <a href="https://github.com/bsouthga/jugo">viewed on GitHub</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="footer-div"><a href="http://bsouth.ga">Ben Southgate</a> | 2015 | <a href="/about">about</a></div>
      </div>
    </div>
  </div>
  <script src="static/lib/jquery-2.1.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
</body>
</html>